@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<!-- Pogo Slider CSS -->
<link rel="stylesheet" href="~/Content/pogo-slider.min.css" />
<!-- Site CSS -->
<link rel="stylesheet" href="~/Content/style3.css" />
<!-- Responsive CSS -->
<link rel="stylesheet" href="~/Content/responsive.css" />
<!-- Custom CSS -->
<link rel="stylesheet" href="~/Content/custom.css" />

<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide" style="background-image:url(images/banner_img.png);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h3><span span class="theme_color">You only have know one thing</span><br>you can learn anything</h3>
                                    <h4>Free Educations</h4>
                                    <br>
                                    <div class="full center">
                                        <a class="contact_bt" href="courses.html">Start a Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" style="background-image:url(Vi);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h3><span span class="theme_color">You only have know one thing</span><br>you can learn anything</h3>
                                    <h4>Free Educations</h4>
                                    <br>
                                    <div class="full center">
                                        <a class="contact_bt" href="courses.html">Start a Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

